
body {
	background-color: #282828;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
}

header {
	text-align: center;
	padding: 20px 0;
}

h1 {
	font-size: 48px;
	margin: 0;
	color: #FFFFFF;
    background-color: #282828;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#login {
	background-color: #000000;
	border-radius: 10px;
	padding: 40px;
	text-align: center;
	color: #FFFFFF;
}

h2 {
	font-size: 36px;
	margin-top: 0;
	color: #FFFFFF;
}

p {
	font-size: 18px;
	margin-bottom: 20px;
	color: #FFFFFF;
}

.login-button {
	display: inline-block;
	background-color: #1DB954;
	color: #FFFFFF;
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 30px;
	text-decoration: none;
	transition: background-color 0.2s ease;
}

.login-button:hover {
	background-color: #1ED760;
	cursor: pointer;
}
