/* Common styles */
body {
    background-color: #191414;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  
  /* Login page specific styles */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .login-button {
    background-color: #1DB954;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #1ED760;
  }
  