*{
	--spotifyblack: #191414;
	--spotifygreen: #1db954;
}
header{
	width: 40%;
	background: var(--spotifyblack);
	margin-left: auto;
	margin-right: auto;

}
header h1{
	color: white;
	text-align: center;
	background: var(--spotifyblack);
	font-size: 50px;
	
}
header img{
	height: 50px;
	width: auto;
}

table{
	background-color: white;
	color: black;
	/* display: block; */
	margin-left: auto;
	margin-right: auto;
}

input#submit{
	text-align: center;
	background-color: #1ed760;
	padding: 10px 20px;
	font-size: 20px;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
}
input#submit:hover{
	background-color: #1DB954;
}

body {
    background-image: url(../images/stars.png);
	background-repeat: repeat;
	background-size: 100px;
}
