* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #1DB954;*/
	background: linear-gradient(180deg, hsla(170, 6%, 19%, 1) 78%, hsla(141, 76%, 48%, 1) 100%);
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	font-size: 48px;
	margin-bottom: 40px;
	color: #FFFFFF;
	text-align: center;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
	font-size: 24px;
	margin-bottom: 20px;
	/*color: #1DB954;*/
	color: #2e3433;
}

input {
	width: 100%;
	padding: 10px;
	font-size: 24px;
	margin-bottom: 30px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

button {
	display: block;
	background-color: #1DB954;
	color: #FFFFFF;
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

button:hover {
	background-color: #1ED760;
}
